@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

table#gameTable tbody tr:hover {
    background: black;
    cursor: pointer;
}

.body{
    width: 100%;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: black;
}

.card-base {
    position: relative;
}

.card-row img {
    width: 25%;
    padding: 0;
    margin: 0 -2px 0 -2px;
}

.card-float img {
    width: 25%;
    position: absolute;
    top: 37.5%;
    left: 37.5%;
}










.container{
    max-width:970px;
}

.container-fluid{
    padding-top: -600px;
}

.container-fluid-overview{
    padding: 30px ;
}

.container-about-page{
    max-width: 80%;
    padding-left: 15%;
}
.col-lg-6{
    padding:30px;
}

#errorMsg {
    text-align: center;
}

.header {
    float: right;
}

.header img {
    border-radius: 5px;
    margin: 10px;
}

.landingButton{
    position: relative;
    cursor:pointer;
    text-align: center;
    font-size:16pt;
    background-color: white;
    color: black;
    width:30%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .1em .1em 0 0;
    margin-left:220px;
}


.btn{
    background-color: black;
    color: white;
    border-radius:0.5em;
    height:7%;
}

.btn a:hover{
    background-color: black;
    color:yellow;
}


.learnMore {
    height: 8%;
    width: 14%;
    left: 43%;
    position: relative;
    font-family: "Calisto MT";
    font-size: 100%;
    background-color:rgba(19, 16, 16, 0.8);
    color: white;
}

.landingImage {
    position: relative;
    width:80%;
    height: 80%;
    margin-left:7%;
}



.imageText {
    position: absolute;
    margin-top:-125px;
    margin-left: 10%;
    color: white;
    background-color: rgba(47, 39, 39, 0.9);
    background-position: center;
    text-wrap: normal;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 100%;
    max-width: 70%;
}


.imageText2 {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 100%;
}





html *
{
    font-family:  "Courier", "Courier New","Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

/* This is the code for the navigation bar at the top of each page*/


/* Code for changing the color of the navigation bad*/
.navbar{
    font-size:20px;
    background-color: black;
}

.navbar-right{
    color:black;
}

.nav{
    padding-left:10px;
    background-color: black;
}
.navbar-brand{
    font-size:30px;
    padding-right: 150px;
}
/*code for getting the logo to be  on the navigation bar*/
.navbar-brand>img {
    max-height: 40px;
}

.nav li{
    display: inline-block;
    padding-right:10px;
}


/*
Code for adjusting the spacing of tabs on the navbar
 */
.navbar-nav > li{
    padding-left:60px;
}

/*
Code for changing the color of tabs on navbar
 */
.nav-tabs > li > a {
    padding-top:25px;
    padding-botton: 15px;
    padding-left: 25px;
    color: whitesmoke;
}

.nav-tabs > li > a:hover {
    color: yellow; /*amazon orange*/
    padding-top:25px;
    padding-botton: 15px;
    background-color: black;
    border-color: black;
}

.glyphicon.glyphicon-search{
    font-size: 25px;
}

/*
Code for changing the rest of the nagivation bar,
This code is associated with the differen ta
 */
.navbar-nav{
    /*margin-top:5px;
    margin-left: 10px;*/
    color:black;
    background-color: black;
}

.navbar-form{
    padding-top: 10px;
}



/*
Code for panel heading and content
 */

.panel-default > .panel-heading-custom{
    background-color: purple;
}

.panel-heading{
    padding-right: 200px;
    padding-top: -700px;
    background-color: yellow;
    text-align: center;
}

.panel-body{
    background-color: rgba(19, 16, 16, 0.8);
    color: white;
}

.section1{
    padding-top: -1000px;
}

.jumbotron{
    width: "110%";
    background-image:"/images/Amazon_MacBookPro.png";
    position: relative;
}

.jumbotronLearnMore{
    background-image:url("http://solutions.bayer.com/fileadmin/user_upload/_Titelbilder/Fotolia_58368809_XXL_1.jpg");
    height: 400px;
}

.box{
    background-color: rgba(0, 0, 0, 0.65);
    height: 80%;
    width: 85%;
    position:relative;
    padding: 30px;
    left:7%;
    bottom: 5%;
    color: white;
    font-size: xx-large;
}


.box2{
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    top:-10%;
    position:relative;
    color: white;
    font-size: xx-large;
}

.intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    text-align:center;
}

.background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
}


.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

slide .video-wrap video {
    top: 0px;
    position: relative;
    -webkit-backface-visibility: hidden!important;
}

#video-background {
    position:fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;
    z-index:-100;
}

.Lead{
    color: rgb(0,178,169,1);
}

/*
Type-write theme
 */

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(0, 0, 0, 0.75); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    padding-top: 10px;
    animation:
            typing 3.5s steps(40,end),
            blink-caret .75s step-end infinite;
    text-align: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px ;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: rgba(0, 0, 0, 0.75) }
    50% { border-color: rgba(0, 0, 0, 0.75); }
}

/*
Google Maps
 */

.GMap {
    height: 100%;
    position: absolute;
    width: 100%;
}
.GMap-canvas {
    top: 20px;
    display: block;
    width: 100%;
    height: 100%;
}
.UpdatedText {
    color: red;
}

.glyphicon.glyphicon-search {
    font-size: 20px;
    font-family: "American Typewriter";
    text-color: black;
}




/*
Code for autosuggest
 */

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    border: 1px solid #aaa;
    width: 360px;
    background-color: #fff;
    font-weight: 300;
    font-size: 18px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__input {
    width: 360px;
    height: 30px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
/*
Code for Seller buyer Interface
 */

.imageSeller{
    height:120px;
}

.imageBuyer{
    height:200px;
}

.welcome{
    font-size: 50px;
}

.searchText{
    font-size: 18px;
}

